/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-dic-2017, 21:01:12
    Author     : Raquel
*/


.contenedorInicio{
    margin-top: 10%;
}

.contenedorTemas{
    margin-top: 100px;
}

.cuerpoPreguntas{
    margin-top: 10%;
}

